html {
    background-color: blanchedalmond;
}

h1 {
    color: brown;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.table {
    background-color: rgb(160, 199, 250)
}